* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato;
}

#title {
    text-align: center;
    margin: 2rem 0 1rem;
}

#description {
    text-align: center;
}

#chart {
    background: #fff;
    display: block;
    margin: 2rem auto;
}

.cell:hover {
    fill: #333;
}

#legend {
    display: block;
    margin: 0 auto;
}

#tooltip {
    background: rgba(0, 0, 0, 0.7);
    z-index: 555;
    color: #fff;
    position: absolute; 
    transition: all .5s;
}



