* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato;
    background: #140014;
}

#title {
    text-align: center;
    font-weight: 300;
    margin: 2rem 0 1rem;
    color: #fff;
}

#description {
    text-align: center;
    color: #fff;
}

#chart {
    background: rgba(255, 255, 255, 0.91);
    display: block;
    margin: 2rem auto;
    border-radius: 10px;
    font-weight: 600;
    color: #140014;
}

.cell:hover {
    fill: #333;
}

#legend {
    display: block;
    margin: 5px auto 0;
}

#tooltip {
    background: rgba(0, 0, 0, 0.7);
    z-index: 555;
    color: #fff;
    position: absolute; 
    transition: all .5s;
    border-radius: 8px;
}

#legendTooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    padding: .5rem 1rem;
    border-radius: 4px;
}
